body{
  color: rgb(231, 231, 231);
}




/*Navbar CSS*/
nav{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px rgb(75, 74, 74);
  background-color: #202326;
}
nav ul {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
nav ul li .home{
  margin-left: 100px;
}
@media (max-width:600px) {
  
}
nav ul li{
 margin-right:40px;
 color: #9ca3af;
 font-size: 18px;
}

/* App.css */





.menu-icon {
  display: none; /* Hide the menu icon by default */
}

@media screen and (max-width: 768px) {
  nav{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(75, 74, 74);
    background-color: #202326;
    
  }
 
  nav ul{
    display: flex;
    flex-direction:column;
    text-align: center;
  }
  nav ul li .home{
    margin-left: 0px;
  }
  nav ul li{
    margin-bottom: 10px;
  }
  .menu {
    display: none; /* Hide the menu by default for smaller screens */
    flex-direction: column;
    position: absolute;
    top: 10px; /* Adjust this value as needed */
    left: 0;
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
  }

  .menu.active {
    display: block; /* Show the menu when active */
  }
           
  .menu-icon {
    display: block; /* Show the menu icon for smaller screens */
    cursor: pointer;
    padding-top: 20px;
    padding-left: 25px;
  }

}






/* .leftdiv span{
  color: white;
  margin-right: 900px;
  margin-left: 60px;
} */





/*Slider CSS*/
.slider{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-color:#202326;
  display: flex;
  flex-direction: row;
  color: rgb(231, 231, 231);
  font-family:sans-serif;
}
.slider  #download-cv{
  width: 170px;
  background-color:#ff014f;
  padding: 15px;
}
.slider  #download-cv:hover{
  background-color: #202326;
  border: solid 1px #ff014f;
  box-shadow: 0px 0px 10px #ff014f;
  transition: 0.1s;
  color: #fff;
}
.slider .div1, .div2{
  width: 50%;
}
.slider .div1{
  padding-top: 140px;
 padding-left: 220px;
}

@media (max-width:1093px){
  .slider{
    flex-direction: column;
  }
  .slider .div1, .div2{
    width: 100%;
  }
  .slider .div1{
    padding-top: 100px;
    padding-left: 50px;
  }
}
.slider .div2{
  text-align: center;
  padding-right: 100px;
  
}
.slider .div2 img{
  width:550px;
  padding: 30px;
  margin-top: 30px;
  /* box-shadow:  0 0 5px 2px #161616; */
  
}
@media (max-width:600px){
  .slider .div2{
    padding-right: 0px;
    margin-top: 30px;
    padding: 30px;
  }
  .slider .div1{
    padding-top: 100px;
    padding-left: 20px;
  }
  .slider .div1 #name{
    font-size: 33px;
  }
  .slider .div1 #name2{
    font-size: 33px;
  }
}


.slider .div1  .l-text{
  margin-top: 25px;
  color: rgb(201, 198, 198);
  letter-spacing: 0.1cap;
}
.slider #social{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.social1,.social2{
  width: 50%;
  background-color: red;

}
.social-box{
  width: 30%;
}

/*Features CSS*/

section .features{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-color:#202326;
}

section .features .container{
  width: auto;
  border-top: solid 1px black;
 
}

section .features .container  #first-row .col p{
  font-size: 18px;
  color: #ff014f;
  margin-left: 70px;
}

section .features .container  #first-row .col h1{
  margin-left: 70px;
  font-size: 56px;
  font-weight: bolder;
}

.features #second-row{
  gap: 70px;
}

.features #second-row #features-box{
  padding: 40px;
  background-color:#202326;
  box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e;
  font-size: 20px;
  box-sizing: border-box;
 
  height: 350px;
  padding-top: 80px;
  overflow-y: hidden;
  border-radius: 10px;
}
.features #second-row #features-box:hover{
  padding-top: 20px;
  transition: 0.5s;
  background-color: black;
}
.features #second-row{
  padding-left: 70px;
}
.features #second-row #features-box #title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.features #second-row #features-box .fa-solid{
  color:#ff014f ;
}
@media (max-width:600px){
  .features #second-row{
    padding-left: 0px;
  }
  section .features .container  #first-row .col p{
    margin-left: 20px;
  }
  section .features .container  #first-row .col h1{
    margin-left: 20px;
    font-size: 45px;
  }
  .features #second-row #features-box #title{
    font-size: 25px;
  }
  .features #second-row #features-box p{
    font-size: 18px;
  }
  .features #second-row #features-box{
    padding-top: 50px;
  }
  section .features .container{
    border-top: solid 1px black;
    margin-left: 30px;
  }
}



/*Projects CSS*/
section .projects{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-color:#202326;
}
section .projects .container  #first-row .col p{
  font-size: 18px;
  color: #ff014f;
}
section .projects .container  #first-row .col h1{
  font-size: 56px;
  font-weight: bolder;
}
.projects #second-row{
  gap: 90px;
}
.projects #second-row #features-box{
  padding: 40px;
  background-color:#202326;
  box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.projects #second-row #features-box img{
  border-radius: 8px;
  object-fit: fill;
}
section .projects .container  #first-row .col p{
  font-size: 18px;
  color: #ff014f;
  margin-left: 70px;
}
section .projects .container  #first-row .col h1{
  margin-left: 70px;
  font-size: 56px;
  font-weight: bolder;
}
.projects #second-row #features-box:hover{
  background-color: black;
}
section .projects .container #first-row .col{
  text-align:center;
}
@media (max-width:600px){
  .projects #second-row{
    justify-content: left;
    text-align: left;
  }
  .projects #second-row #features-box{
    padding: 40px;
  }
  section .projects .container  #first-row .col p{
    text-align: left;
    margin-left: 0px;
    font-size: 15px;
  } 
  section .projects .container #first-row .col h1{
   margin-left: 0px;
   font-size: 40px;
  }
  section .projects .container #first-row .col{
    text-align: left;
  }
}







/*Contact  */

section .contact{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-color:#202326;
}
section .contact .container  #first-row .col p{
  font-size: 18px;
  color: #ff014f;
  margin-left: 70px;
}
section .contact .container  #first-row .col h1{
  margin-left: 70px;
  font-size: 56px;
  font-weight: bolder;
}
section .contact .container .row #first-contact{
  padding: 20px;
  box-shadow: 0px 19px 38px 20px rgb(29, 29, 29);
}
section .contact .container .row #first-contact h1{
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}
section .contact .container  #first-row .col{
  text-align: center;
}
@media (max-width:600px){
  section .contact .container  #first-row .col p{
    font-size: 15px;
    color: #ff014f;
    margin-left: 0px;
  }
  section .contact .container  #first-row .col h1{
    margin-left: 0px;
    font-size: 40px;
    font-weight: bolder;
  }
  section .contact .container  #first-row .col{
    text-align:left;
  }
}

#first-contact #title{
  font-size: 22px;
}

section .contact .container .row #first-contact p{
  font-size: 18px;
}
.name-pno{
  display: flex;
  flex-direction: row;
  color: aliceblue;
  gap: 15px;
  width: 100%;
  padding: 40px;
  padding-top:100px ;
}
.name-pno .name input{
  background-color: #161616;
  width: 100%;
  border-radius: 10px;
  height: 60px;
  border: none;
  border-bottom: solid 1px grey;
  color: white;
}
.name-pno .name{
  width: 50%;
}
.name-pno .name p{
  margin-bottom: 15px;
}
.email{
  padding-left: 38px;
  color: rgb(231, 231, 231);
}
.email p{
  margin-bottom: 15px;
}
.email input{
  width: 95%;
  border-radius: 10px;
  height: 60px;
  border: none;
  border-bottom: solid 1px grey;
  background-color: #161616;
  color: white;
}
 
.subject{
  margin-top: 30px;
  padding-left: 38px;
}
.subject p{
  margin-bottom: 15px;
  color: rgb(231, 231, 231);
}

.subject input{
  width: 95%;
  border-radius: 10px;
  height: 60px;
  border: none;
  border-bottom: solid 1px grey;
  background-color: #161616;
  color: white;
}

.message{
  margin-top: 30px;
  padding-left: 38px;
}
.message p{
  margin-bottom: 15px;
  color: rgb(231, 231, 231);
}

.message textarea{
  width: 95%;
  border-radius: 10px;
  height: 200px;
  border: none;
  border-bottom: solid 1px grey;
  background-color: #161616;
  color: white;
}

.contact-btn{
  width: 92%;
  height: 60px;
  border: none;
  color: aliceblue;
  background-color: #161616;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 10px;
}

#contact-form{
 gap: 50px;
 justify-content: center;
 margin-left: 80px;
 margin-top:80px;
}
#contact-form .col-md-3{
  width: 400px;
}

@media (max-width:600px){
  #contact-form{
    margin-left: 0px;  
    padding-left: 0px;
   }
   .message .subject  .email{
    margin-top: 30px;
    padding-left: 0px;
  }
   .name-pno{
    display: flex;
    flex-direction: column;
   
  }
  .name-pno .name{
    width: 100%;
  }
}

#first-contact .fa-brands{
  color: white;
  background-color: rgb(27, 27, 27);
  padding: 25px;
  margin-left: 20px;
  border-radius:7px;
}
#first-contact .fa-brands:hover{
  color: #ff014f;
  transform: translateY(-30px);
  transition: 0.4s;
}





/*Resume*/
.resume{
  width: 100%;
  background-color:#202326;
}
.resume-list{
  width: 100%;
  margin-top: 50px;
}
.resume-list ul{
  display: flex;
  flex-direction: row;
}

.resume-list ul li{
  padding: 40px;
  padding-left: 140px;
  padding-right: 100px;
  background-color:#1a1a1b;
  font-size: 22px;
}

@media (max-width:1402px){
  .resume-list ul li{
    padding:70px;
    padding-left:70px;
    padding-right:70px;
  }
}
@media (max-width:890px){
 
  .resume-list ul{
    display: flex;
    flex-direction: column;
  }
}

section .resume .container  #first-row .col p{
  font-size: 18px;
  color: #ff014f;
  margin-left: 70px;
}
section .resume .container  #first-row .col h1{
  margin-left: 70px;
  font-size: 56px;
  font-weight: bolder;
}
section .resume .container  #first-row .col{
  text-align: center;
}

.education{
  width: 95%;
  height: auto;
  margin-left: 120px;
}
@media (max-width:600px){
  section .resume .container  #first-row .col p{
    font-size: 15px;
    color: #ff014f;
    margin-left: 0px;
  }
  section .resume .container  #first-row .col h1{
    margin-left: 0px;
    font-size: 40px;
    font-weight: bolder;
  }
  section .resume .container  #first-row .col{
    text-align:left;
  }
  .resume-list ul li{
    padding:25px;
    padding-left:70px;
    padding-right:70px;
  }
  .education{
    width: 100%;
    height: auto;
    margin-left: 0px;
  }

}




.education .col-md-6 p{
  font-size: 18px;
}

.education .col-md-6 h1{
  font-size: 40px;
  font-weight: bolder;
}

.education-main{
  margin-top: 100px;
  border-left: solid 7px rgb(22, 22, 22);
}
.education-main1{
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}
.education-main1 #div1{
  border-bottom: solid 7px rgb(22, 22, 22);
}
.education-main1 #div1 .inner-div{
  width: 30px;
  height: 30px;
  margin-top: 64px;
}
.education-main1 #div1 #span1{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: black;
  margin-left: -15px;
  padding-top: 3.5px;
}
.education-main1 #div1 #span2{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(32, 32, 32);
}
.education-main1 #div1 #span2:hover{
  background-color:#ff014f;
}
.education-main2{
  background-color: #181b1d;
  padding: 50px;
 padding-bottom: 80px;
 padding-top: 80px;
 border-radius: 8px;
 box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e;
}

.education-main2 p{
  color: #9ca3af;
}
.education-main2:hover{
  .education-main1 #div1 #span2{
    background-color: #ff014f;
   
  }
}
#Certificates {
  display: none;
  justify-content: center;
  margin-left: 150px;
}

#Certificates h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

@media (max-width:600px) {
  #Certificates {
    display: none;
    justify-content: center;
    margin-left: 0px;
  }
  .education-main2{
    width: 100%;
    background-color: #181b1d;
    padding: 15px;
   padding-bottom: 80px;
   padding-top: 80px;
   border-radius: 8px;
   box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e;
  }
}
#Certificates .education-main1{
  width: 100%;
}

#education-main1:hover > #span2 { background-color: yellow; }
#Certificates .education-main2{
  width: 90%;
}
#education{
  transition: 2s;
}
#Professional-Skills{
display: none;
transition: 2s;
}

#Professional-Skills{
  padding-bottom: 70px;
}
#Professional-Skills .col-md-8{
  padding-top: 30px;
}
#react-span{
  width: 100%;
  height: 12px;
  background-color: #161616;
  border-radius: 10px;
  transform: translateX(0%) translateZ(0px);
  /* background-image: linear-gradient(to right, #1f1fde, #5d17db, #7f0ed8, #9a04d4, #b100d0, #c00dcd, #cd19ca, #d925c8, #e336c7, #ec44c6, #f452c5, #fb5fc5); */ 
}

#react-span #react-span-inner{
  width: 70%;
  height: 12px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #1f1fde, #5d17db, #7f0ed8, #9a04d4, #b100d0, #c00dcd, #cd19ca, #d925c8, #e336c7, #ec44c6, #f452c5, #fb5fc5); 
  animation: animationReact 3s;
}
#react-span #html-span-inner{
  width: 95%;
  height: 12px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #1f1fde, #5d17db, #7f0ed8, #9a04d4, #b100d0, #c00dcd, #cd19ca, #d925c8, #e336c7, #ec44c6, #f452c5, #fb5fc5); 
  animation: animationHtml 3s;
}
#react-span #css-span-inner{
  width: 90%;
  height: 12px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #1f1fde, #5d17db, #7f0ed8, #9a04d4, #b100d0, #c00dcd, #cd19ca, #d925c8, #e336c7, #ec44c6, #f452c5, #fb5fc5); 
  animation: animationCss 3s;
}
#react-span #javascript-span-inner{
  width: 75%;
  height: 12px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #1f1fde, #5d17db, #7f0ed8, #9a04d4, #b100d0, #c00dcd, #cd19ca, #d925c8, #e336c7, #ec44c6, #f452c5, #fb5fc5); 
  animation: animationJavascript 3s;
}


#react-span  #Bootstrap-span-inner{
  width: 85%;
  height: 12px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #1f1fde, #5d17db, #7f0ed8, #9a04d4, #b100d0, #c00dcd, #cd19ca, #d925c8, #e336c7, #ec44c6, #f452c5, #fb5fc5); 
  animation: animationBootstrap 3s;
}

@keyframes animationReact{
  0%{
    width: 0%;
  }

  100%{
    width: 70%;
  }
}

@keyframes animationHtml{
  0%{
    width: 0%;
  }

  100%{
    width: 95%;
  }
}
@keyframes animationCss{
  0%{
    width: 0%;
  }

  100%{
    width: 90%;
  }
}
@keyframes animationJavascript{
  0%{
    width: 0%;
  }

  100%{
    width: 75%;
  }
}
@keyframes animationBootstrap{
  0%{
    width: 0%;
  }

  100%{
    width: 85%;
  }
}

footer{
  background-color:  #202326;
  color: white;
  text-align: center;
  padding-top: 30px;

  border-top: solid 1px black;
  margin-top: 100px;
}